* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lato', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url('imagenes/fondo.webp') no-repeat center center/cover;
}

#contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 80vh;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0);
  border: 4px solid rgba(0, 0, 0, 0);
}

h1{
  font-size: 3rem;
  width: 100%;
  margin: 20px 10px;
  -webkit-text-stroke: 2px rgb(255, 255, 255); 
  text-shadow:
    -2px -5px 0 rgba(255, 255, 255, 0.603),
     2px -5px 0 rgb(255, 255, 255, 0.603),
    -2px  5px 0 rgb(255, 255, 255, 0.603),
     2px  5px 0 rgb(255, 255, 255, 0.603);
}
ul {
  width: 100%;
  height: 100%;
}

.topping {

  font-size: 2rem;
  font-weight: bold;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 15px 0;
}
.fondo-rojo {
  border: 3px solid rgb(255, 255, 255);
  background-color: #3d3d3d;
  
}
.fondo-amarillo {
  border: 3px solid rgb(255, 255, 255);
  background-color: #00a2ff;
}
.fondo-azul {
  border: 3px solid rgb(255, 255, 255);
  background-color: #ff7b00;
}
.fondo-dorado {
  border: 3px solid rgb(255, 255, 255);
  background-color: #cea729;
}